div {
    display: block;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    font-size: 16px;
    font: 16px Helvetica,Arial,sans-serif;
    line-height: 1.62;
    margin:0;
    padding: 0;
    display: block;
    background: rgb(255, 255, 255);
}

.part-layer {
    width: 100%;
    padding: 0px 16px;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    color: black;
    line-height: 1.1;
    padding-left: 10px;
}

h2 {
    font-size: 20px;
    color: rgb(38, 241, 11);
    line-height: 150%;
    padding-left: 10px;
}

h3 {
    font-size: 18px;
    color: rgb(2, 57, 175);
    line-height: 120%;
    padding-left: 10px;
}